.case-list li{
    border-bottom: 1px solid #EEEEEE;
    margin-top: 10px;
    padding-bottom: 10px;
}

.case-list .img{
    float: left;
}
.case-list .img:hover{
    border: 2px solid  #FF832C;
}
/*设置鼠标放上去的颜色*/
.case-list a:hover{
    color: #FF832C;
}
.set{
    clear: left;
    height: 0px;
    text-align: right;
    padding: 3px 8px 10px 0;
    font-size: 12px;


}

.case-list .right{
    /*float: left;*/
    margin-left: 180px;
    /*clear: left;*/
}

.case-list .title{
    font-size: 16px;
    font-weight: bold;
}
.case-list .content{
    /*设置行高*/
    line-height: 21px;
    /*设置缩进*/
    text-indent: 28px;
    /*设置字体间距*/
    color: #979797;
    /*letter-spacing: 2px;*/
}


/*/!*清除浮动*!/*/
.clear-both{
    clear: left;
}

.mb8{
    margin-bottom: 8px;
}